body {
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  color: #333;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0078d7;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
